# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings (optional, if you use VSCode)
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pytest cache
.pytest_cache/
